MediaPlayer/Connected Services/VideoProcessingService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAIOProcessor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ProcessVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVideo" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVideoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFramesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFramesList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFramesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFramesListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessVideo2_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVideo2" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcessVideo2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessVideo2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckEndFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEndFrame" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckEndFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEndFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ProcessVideo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessVideo" message="tns:IService1_ProcessVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessVideoResponse" message="tns:IService1_ProcessVideo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFramesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFramesList" message="tns:IService1_GetFramesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFramesListResponse" message="tns:IService1_GetFramesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessVideo2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcessVideo2" message="tns:IService1_ProcessVideo2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcessVideo2Response" message="tns:IService1_ProcessVideo2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEndFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckEndFrame" message="tns:IService1_CheckEndFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckEndFrameResponse" message="tns:IService1_CheckEndFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessVideo">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessVideo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFramesList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFramesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessVideo2">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcessVideo2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEndFrame">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckEndFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://toshiba:8003/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>