MediaPlayer/Connected Services/VideoProcessingService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://toshiba:8003/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAIOProcessor" />
  <xs:element name="ProcessVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withAudio" type="xs:boolean" />
        <xs:element minOccurs="0" name="startDuration" type="xs:double" />
        <xs:element minOccurs="0" name="endDuration" type="xs:double" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessVideoResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFramesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFramesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFramesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVideo2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withAudio" type="xs:boolean" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scale" type="xs:boolean" />
        <xs:element minOccurs="0" name="width" type="xs:int" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessVideo2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessVideo2Result" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEndFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEndFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEndFrameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFAIOProcessor" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFAIOProcessor" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>